.date {
    background: #376BC0;
    margin-left: 20px;
    display: flex;
    color: white;
    cursor: pointer;
}

.icon {
    margin-left: 8px;
    transition: transform .5s;
}

.date:hover .icon {
    transform: rotate(-180deg);
}

.date-input {
    position: absolute;
    top: 6vh;
    right: 10px;
    background-color: #376BC0;
    display: none;
}

.date-input input[type="date"] {
    background-color: #376BC0;
    color: white;
    /* z-index: 2; */
}

.date:hover .date-input {
    display: block;
}