.header img {
    width: 255px;
    height: 69px;
}

.header {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10vw;
}

li,
a {
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.nav_links {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav_links li a {
    transition: all .3s ease 0s;
    color: white;
    margin-left: 20px;
}

.nav_links li a:hover {
    color: #0088a9;
}

@media screen and (max-width:1024px) {
    .header img {
        width: 220px;
    }
}

@media only screen and (max-width: 1012px) {
    .header img {
        width: 200px;
    }

    .header {
        padding: 30px 9vw;
    }
}

@media screen and (max-width:926px) {
    .header img {
        display: none;
    }
}

@media screen and (max-width:686px) {
    .header {
        padding: 20px 3vw;
        justify-content: center;
    }


    li,
    a {
        font-size: 16px;
    }
}

.nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav__toggle-btn svg {
    color: black;
}

@media screen and (max-width:632px) {
    .header {
        justify-content: flex-end;
    }

    .nav__toggle-btn {
        margin-left: 3vw;
    }

    .nav_links {
        display: none;
    }

    .nav__links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }



    .nav__links li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, .4);
        animation: navAmination 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .nav__links li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__links li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__links li:nth-child(4) {
        animation-delay: 600ms;
    }

    .nav__links li:nth-child(5) {
        animation-delay: 800ms;
    }

    @keyframes navAmination {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }


    .nav__links li a {
        background-color: black;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 5rem 1rem 3rem;
        white-space: nowrap;
    }

    .show__nav {
        display: flex;
    }

    .hide__nav {
        display: none;
    }
}

@media screen and (min-width:632px) {
    .nav__links {
        display: none;
    }

    .nav__toggle-btn {
        display: none;
    }
}