@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=M+PLUS+Rounded+1c:wght@300&family=Play&family=Source+Code+Pro:wght@200&family=Ubuntu:ital,wght@1,500&family=Varela+Round&family=Wix+Madefor+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wix Madefor Display', sans-serif;
}

:root {
  --primary-hue: 210;

  --gray-hue: 248;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #ffb116;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);

  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);

  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(0, 136, 255);
  border-radius: 15px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: blue;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  background-color: azure;

}