@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=M+PLUS+Rounded+1c:wght@300&family=Play&family=Source+Code+Pro:wght@200&family=Ubuntu:ital,wght@1,500&family=Varela+Round&family=Wix+Madefor+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wix Madefor Display', sans-serif;
}
